<div id="<%= dom_id order_exception %>">
  <div>
    <strong>Order number:</strong>
    <%= order_exception.order_number %>
  </div>

  <div>
    <strong>Merchant:</strong>
    <%= order_exception.merchant_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order_exception.status %>
  </div>

  <div>
    <strong>Error message:</strong>
    <%= order_exception.error_message %>
  </div>

  <div>
    <strong>Resolved at:</strong>
    <%= order_exception.resolved_at %>
  </div>

</div>
